@{
    ViewData["Title"] = "Taskify";
}
@model IEnumerable<ToDoModel>

<div class="text-center">
    <h1 class="display-4">Your Tasks</h1>
    <br />
    <p></p>
</div>

    <div class="col-md-12">
            <table class="table table-borderd table-striped mt-2">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ToDoModel Task in Model)
                    {
                        string Over = Task.TimeOver ? "bg-warning" : "";
                        <tr>
                            <td>@Task.Id</td>
                            <td>@Task.TaskName</td>
                            <td>@Task.Description</td>
                            <td class="@Over">@Task.DueDate.ToShortDateString()</td>
                            <td>@Task.Status</td>
                            <td>
                                @if (Task.Status == "Pending")
                                {
@*                                     <button class="btn btn-secondary" type="submit" name="@nameof(ToDoModel.Id)" value="@Task.Id">Mark As Complete</button>
     *@                         <form asp-action="MarkAsComplete" method="post">
                                    <input type="hidden" name="@nameof(ToDoModel.Id)" value="@Task.Id" />
                                    <button class="btn btn-secondary" type="submit">Mark As Complete</button>
                                </form>
                                }
                            </td>
                            <td>
@*                                 <a asp-action="Delete" asp-route-id="@Task.Id" icon="trash" class="btn btn-danger">Delete</a>
 *@                             <form asp-action="Delete" method="post">
                                    <input type="hidden" name="@nameof(ToDoModel.Id)" value="@Task.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            <td>
                                @if (Task.Status != "Done")
                                {
                                    <a asp-action="Edit" asp-route-id = "@Task.Id" icon="pen" class="btn btn-info">Edit</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        <form asp-action="DeleteCompletedTasks" method="post" asp-route-id="Index">
            <a asp-action="Add" class="btn btn-primary">Add a New Task</a>
            <button type="submit" class="btn btn-outline-danger">Delete All Completed Tasks</button>
        </form>
    </div>
</div>
